{% load static %}
<footer class="footer mt-auto py-3">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">2021-2 HUFS 데베로 조인</p>

            <img src="{% static 'logo.png' %}" style="width:40px;height:auto;">

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item px-2">
                    <span class="text-muted">김소연</span>
                </li>
                <li class="nav-item px-2">
                    <span class="text-muted">정나윤</span>
                </li>
                <li class="nav-item px-2">
                    <span class="text-muted">김현</span>
                </li>
                <li class="nav-item px-2">
                    <span class="text-muted">박주하</span>
                </li>
            </ul>
        </footer>
    </div>
</footer>