<div>
    <div>
        <a href="{% url 'core:home' %}">Home</a>
    </div>
    <div>
        <a href="{% url 'board:list' %}">FAQ</a>
        {% if user.is_authenticated %}
        <a href="{% url 'users:my_info'%}">My Page</a>
        <a href="{% url 'users:logout' %}">Log Out</a>
        {% if user.is_active and user.is_staff %}
        <a href="{% url 'users:staff' %}">STAFF ONLY</a>
        {% endif %}
        {% else %}
        <a href="{% url 'users:login' %}">Login</a>
        <a href="{% url 'users:sign_up' %}">회원가입</a>
        {% endif %}
    </div>
</div>