<div style="width:250px;">
        <ul class="list-group me-5 text-nowrap" id="mypage_url">
                <label for="mypage_url" class="fw-bolder mb-3">FAQ 링크</label>
                <li class="list-group-item"><a href="{% url 'board:list' %}"
                                class=" text-decoration-none text-black">게시물</a>
                </li>
                <li class="list-group-item"><a href="{% url 'board:create' %}"
                                class=" text-decoration-none text-black">문의하기</a>
                </li>
        </ul>
</div>