{% extends 'base.html' %}
{% block page_title %}리뷰 작성{% endblock page_title %}
{% block content %}

<div class="d-flex container mt-5">
    {% include 'users/partials/navbar.html' %}
    <div class="container-fluid d-flex flex-column justify-content-between align-center" style=" width:1000px;">
        <div class="mb-4">
            <h3>리뷰 작성</h3>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div>
            {{ message|safe }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="d-flex justify-content-between mb-4">
            <div>
                <table class="table text-nowrap align-middle text-center w-100">
                    <tbody>
                        <tr>
                            <th class="table-secondary" style="width:200px">주문번호</th>
                            <td style="width:800px">{{order.pk}}</td>
                        </tr>
                        <tr>
                            <th class="table-secondary">주문 상품</th>
                            <td><a href="{% url 'products:detail' pk=order.product.pk %}"
                                    class="text-decoration-none text-black">{{order.product}}</a></td>
                        </tr>
                        <tr>
                            <th class="table-secondary">주문 날짜</th>
                            <td>{{order.date_ordered}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <form action="{% url 'reviews:create' order_pk=order.pk %}" method="post">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    {{form.review}}
                    <label for="review">리뷰 작성</label>
                </div>
                <div class="col mb-3">
                    <div class="input-group has-validation">
                        <span class="input-group-text">별점</span>
                        {{form.rating}}
                        <span class="input-group-text">1에서 5사이</span>
                    </div>
                </div>
                <div class="text-end mt-4">
                    <button class="btn btn-outline-dark flex-shrink-0 ">리뷰작성</button>
                </div>
            </form>
        </div>


    </div>
</div>
{% endblock %}