{% extends 'base.html' %}
{% block page_title %}FAQ 작성하기{% endblock page_title %}
{% block content %}
<div class="d-flex container mt-5">
    {% include 'board/partials/navbar.html' %}
    <div class="container-fluid d-flex flex-column justify-content-between align-center" style=" width:1000px;">
        <div class="mb-4">
            <h3>문의하기</h3>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div>
            {{ message|safe }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="d-flex justify-content-between mb-4">

            <form action="." method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                <div class="row">

                    <div class="col-12 mb-3">
                        <div class="input-group has-validation">
                            <span class="input-group-text">제목</span>
                            {{form.title}}
                            <div class="invalid-feedback">
                                제목을 입력해주세요
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="input-group">
                            <span class="input-group-text">본문</span>
                            {{form.body}}
                            <div class="invalid-feedback">
                                본문 입력
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="input-group">
                            {{form.photo}}
                            <label class="input-group-text" for="fileInput">Upload</label>
                        </div>
                    </div>

                </div>
                <div class="text-end mt-4">
                    <button class="btn btn-outline-dark flex-shrink-0">문의하기</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}